.slideshow {
    margin: 0 auto;
    overflow: hidden;
    max-width: 90%;
    margin-top: 50px;
  }
  
  .slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
  }
  
  .slide {
    display: inline-block;
    height: 238px;
    width: 100%;
    border-radius: 40px;
  }
  
  .slideshowDots {
    text-align: right;
  }
  
  .slideshowDot {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
  
    cursor: pointer;
    margin: 15px 7px 0px;
  
    background-color: silver;
  }
  
  .slideshowDot.active {
    background-color: white;
  }