.header {
    display: flex;
    margin-top: -50px;
}


.logoMenu{
    width: 7%;
}

.nav{
    display: grid;
    grid-template-columns: repeat(6, 40%);
}

.buttonNav{
    display: grid;
    grid-template-columns: repeat(6, 17%);
    
}


.buttonMain{
    width: 60%;
}




.objList {
    display: grid;
    grid-template-columns: repeat(5, 18%);
    justify-content: space-around;
}



.objImg {
    width: 90%;
    height: 110px;
    margin-bottom: 15px;
}


