.title{
    width: 20%;
    position: relative;
    left: 35%;
}


.info {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
    

.sinopsis {
    display: flex;
    width: 90%;
}

.sinopsisText{
    width: 50%
}

.buttonDisplay {
    width: 100px;
    height: 50px;
    background-color: white;
    color: #0c111b;
}


.buttonDisplay:active{
    width: 100px;
    height: 50px;
    background-color: #0c111b;
    color: white;
}