  
  img.logoFooter {
    width: 10%;
    position: relative;
    left: 40%;
    margin-top: 30px;
  }
  
  .links-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }


  a.footer{
    background-color: #0c111b;
    color: white;
    border: none;
    text-decoration: none;
    
}
  
  
  .text-footer{
    margin-left: 30%;
  }