html {
  background-color: #0c111b;
  color: silver;
  margin-left: 2%;
  margin-top: 15px;
  max-width: 96%;
}


.log {
  position: relative;
  left: 80%;
  padding: 1.5em;
  border: solid;
  width: fit-content;
  color: white;
  background-color: #0c111b;
  text-decoration: none
}

.log:hover {
  position: relative;
  left: 80%;
  padding: 1.5em;
  border: solid;
  width: fit-content;
  color: #0c111b;
  background-color: white;
  text-decoration: none
}





.log:active {
  position: relative;
  left: 80%;
  padding: 1.5em;
  border: solid;
  width: fit-content;
  color: #0c111b;
  background-color: white;
  text-decoration: none
}



.logo {
  width: 15%;
}


.sub-content {
  padding: 0.5em;
  border: solid;
  width: fit-content;
  color: white;
  background-color: #0c111b;
  text-decoration: none
}


.sub-content:hover {
  padding: 0.5em;
  border: solid;
  width: fit-content;
  color: #0c111b;
  background-color: white;
  text-decoration: none
}



.sub-content:active {
  padding: 0.5em;
  border: solid;
  width: fit-content;
  color: #0c111b;
  background-color: white;
  text-decoration: none;
}


.subscribe {
  display: grid;
  grid-template-columns: repeat(2, 300px);
}

.links {
  margin-left: 2%;
}


img.wandavision {
  width: 50%;
}


.content-fit {
  width: 40%;
  position: relative;
  left: 54%;
  margin-top: -40%;
}


a.sub-content {
  position: relative;
  left: 65%;
  padding: 0.5em;
  border: solid;
  width: fit-content;
  color: white;
  background-color: #0c111b;
  text-decoration: none
}



a.sub-content:hover {
  position: relative;
  left: 65%;
  padding: 0.5em;
  border: solid;
  width: fit-content;
  color: #0c111b;
  background-color: white;
  text-decoration: none
}



a.sub-content:active {
  position: relative;
  left: 65%;
  padding: 0.5em;
  border: solid;
  width: fit-content;
  color: #0c111b;
  background-color: white;
  text-decoration: none;
}


.available {
  margin-top: 15%;
}

img.dispositive {
  width: 100%;
}


.dispositivos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}


